* {
  margin: 0;
  padding: 0;
  font-size:16px;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

.navi {
  width: 100%;
  height: 100px;
  border-bottom:1px solid #dadada;
}
ul {
  list-style: none;
}
.navi ul {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 0;

}
.navi ul li {
  width: 15%;
  height: 100%;
  line-height: 100px;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
.navi ul li a{
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  line-height: 100px;
}
.navi .logo{
  width: 130px;
  height: 40px;
  margin: 30px;
}
.navi .whologoopen{
  width: 140px;
  height: 40px;
  margin: 30px;
  background-image: url("../img/whoareyou.png");
  display: inline;
  border: none;
  color: #fff;
}
.navi .whologoclose{
  width: 140px;
  height: 40px;
  margin: 30px;
  display: none;
  background-image: url("../img/whoareyou2.png");
  border: none;
}

.navi .btn{
  width: 40px;
  height: 40px;
  margin: 30px;
}

.navi .btnopen{
  width: 40px;
  height: 40px;
  margin: 30px;
  display: inline;
  background-color: white;
  background-image: url("../img/btn1.png");
  border: 0px;
}
.navi .btnclose{
  width: 40px;
  height: 40px;
  margin: 30px;
  display: none;
  background-color: white;
  background-image: url("../img/btn2.png");
  border: none;

}
.coinfo:hover{
  color: #ff6600;
  cursor: pointer;
}
.investinfo:hover{
  color: #ff6600;
  cursor: pointer;
}
.coarea:hover{
  color: #ff6600;
  cursor: pointer;
}
.recruit:hover{
  color: #ff6600;
  cursor: pointer;
}
.adver:hover{
  color: #ff6600;
  cursor: pointer;
}
.menu {
  width: 100%;
  height: auto;
  display: none;
  margin: 0;
  padding: 20px;
  z-index: 888;
  position: absolute;
  background-color: white;
}

.menu > ul {
  width: 900px;
  margin-left: 30%;
  height: 100%;
  padding: 0 10px;
  display: flex;
}
.menu .menuright {
  width: 500px;
  margin-left: 45%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
}
.menu ul li {
  margin: 0;
  width: 22%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
  line-height: 50px;
  font-size: 15px;
  font-weight: 700;
}
.menu ul li p a{
  color:#000;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.menu ul li p:hover{
  text-decoration: underline;
  cursor: pointer;
}
.menu ul li p a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.menu> ul li .sub {
  padding: 0;
}
.menu> ul li .sub li {
  width: 100%;
  text-align: left;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
}
.menu> ul li .sub li a{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight:400;
  line-height:30px;
  color:#000;
}
.menu> ul li .sub li:hover{
  color: #ff6600;
  cursor: pointer;
}
.menu> ul li .sub li a:hover{
  color: #ff6600;
  cursor: pointer;
}
.ep > ul{
  padding: 50px 0;
  border-bottom: 1px solid #dadada;
}
.menu .eptitle{
  margin: 60px;
  font-size: 25px;
  font-weight: 600;
  padding-left: 300px;
  display: inline-block;
  position: absolute;
}
.menu .eptitle a {font-size:25px;
                  font-weight: 600;
                  font-family: 'Noto Sans KR', sans-serif;

                  }
.menu .eptitle a:hover{color:#ff6600;}
.menu .eptitle:hover{
  color: #ff6600;
  cursor: pointer;
}

.whomenu {
  width: 100%;
  height: auto;
  display: none;
  margin: 0;
  padding: 20px;
  z-index: 10;
  position: absolute;
  background-color: white;
  font-family: 'Noto Sans KR', sans-serif;
}
.whomenu .whotablebox{
    margin: 50px auto;
    padding: 50px auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.whomenu .whotablebox table{
	width: 65%;
	height: auto;
	border-collapse: collapse;
	text-align: center;
  font-size: 16px;
}
.whomenu .whotablebox th{
  font-size: 28px;
  font-weight:500;
  padding-bottom: 20px;
  border-right: 1px solid #dadada;
}

.whomenu .whotablebox td{
  font-size: 16px;
  padding: 10px;
  border-right: 1px solid #dadada;
}

.whomenu .whotablebox .wholasttr{
  border-right: none;
}
.whomenu .whotablebox td:hover{
  text-decoration: underline;
}

.familybox {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px;
  z-index: 10;
  background-color: #f2f2f2;
  display: none;
}
.familybox  .familytable{
    margin: 50px auto;
    padding: auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.familybox  .familytable table{
	width: 65%;
  height: auto;
	border-collapse: collapse;
	text-align: left;
  font-size: 16px;
}
.familybox  .familytable th{
  font-size: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.familybox  .familytable td{
  font-size: 16px;
  padding: 5px;
}


#footer{
	border-top: 1px solid #dadada;
  width: 100%;
  display: block;
}
.footerlogo{
	width: 60%;
	height: 110px;
	font-size: 16px;
	margin: auto;
	display: flex;
 	justify-content: space-between;
}

.footerlogo .flogo{
	margin-top: 50px;
	width: 158px;
	height: 46px;
}
.footerlogo .footerbtn{
	margin-top: 50px;
	width: 210px;
	height: 40px;
	background-color: #fff;
	border: none;
	border-bottom: 1px solid #000;
	text-align: justify;
}
.footerright{
	width: 60%;
	height: 150px;
	margin: auto;
}
.footerright .copy{
	display: inline-block;
	font-size: 14px;
	color: #767676;
	margin-top: 50px;
	vertical-align: top;
	font-weight: 700;
	padding-right: 20px;
	letter-spacing: -1px;
}
.footerright .web-mark{
	display: inline-block;
	font-size: 16px;
	color: #000;
	vertical-align: top;
	font-weight: 700;
	padding-right: 20px;
	letter-spacing: -1px;
	margin-top: 10px;
}
.footerright .iconimg{
	display: block;
	float: right;
	margin-top: -30px;
}
.footerright .iconimg .facebook{
	margin-right: 10px;
}
